<h2>Dodaj novi grad</h2>
<br>

<form [formGroup]="cityGroup" (ngSubmit)="onSubmit()">
    <input title="id" name="id" type="hidden" formControlName="CityId" />
    <div class="form-group">
      <label for="name">Naziv</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" formControlName="name">
    </div>
    <div class="form-group">
      <label for="zip">postanski broj</label>
      <input type="text" class="form-control" id="zip" formControlName="zip">
      </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Spremi</button>
  </form>

